
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
    display: block;
}

body
{
    line-height: 1;
	font-family:'segoe ui light'
}

ol, ul
{
    list-style: none;
}

blockquote, q
{
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after
    {
        content: '';
        content: none;
    }

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

* html .clearfix
{
    height: 1%;
}
.wrapper
{
	margin-left:100px;
	margin-top:50px;
	 display: -ms-grid;
    -ms-grid-columns:auto;
    -ms-grid-rows: 50px auto;
    display: grid;
}
.title
{	
	padding-left:10px;
	font-size:30px;
	font-weight:600px
}
.container
{
    display: -ms-grid;
    -ms-grid-columns: 470px 80px 310px 80px 310px;
    -ms-grid-rows: auto;
    display: grid;
}

.cl-1
{
    -ms-grid-column: 1;
}

.cl-2
{
    -ms-grid-column: 2;
}

.cl-3
{
    -ms-grid-column: 3;
}
.cl-4
{
    -ms-grid-column: 4;
}
.cl-5
{
    -ms-grid-column: 5;
}
.rw-1
{
    -ms-grid-row: 1;
}

.rw-2
{
    -ms-grid-row: 2;
}

.rw-3
{
    -ms-grid-row: 3;
}

.rw-4
{
    -ms-grid-row: 4;
}

.rw-5
{
    -ms-grid-row: 5;
}

.rw-6
{
    -ms-grid-row: 6;
}

.rw-7
{
    -ms-grid-row: 7;
}
.tile
{
	border:1px solid #000;
	background-color:#e5e5e5;
}
.large-grid
{
	display: -ms-grid;
    -ms-grid-columns: (150px 10px)[2] 150px;
    -ms-grid-rows:30px (150px 10px)[2] 150px;
    display: grid;
}
.small-grid
{
	display: -ms-grid;
    -ms-grid-columns:150px 10px 150px;
    -ms-grid-rows:30px  (150px 10px)[2] 150px;
    display: grid;
}
.home-banner
{	
	 -ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	background-color:#e5e5e5;
}
.news-banner
{
	 -ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	-ms-grid-row-span: 3;
	background-color:#e5e5e5;
}
.news-content
{
	-ms-grid-row: 6;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	-ms-grid-row-span: 1;
	background-color:#e5e5e5;
}
.apps-banner
{
-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	-ms-grid-row-span: 1;
	background-color:#e5e5e5;
}